<PortfolioSection Title="Projects">
    <Content>
        @foreach (var project in Projects)
        {
            <div class="flex flex-col gap-2">
                <div>
                    <span class="font-bold">@project.Name</span>
                    <span class="font-bold @project.Language.GetColor()">@project.Language.GetFormattedString()</span>
                </div>
                <div>
                    <span>Link: </span>
                    <a href="@project.Url" target="_blank" class="hover:text-cyan-500">@project.Url</a>
                </div>
                <p>@project.Description</p>
                <HorizontalBar />
            </div>
        }
    </Content>
</PortfolioSection>

@code {

    /// <summary>
    /// The projects to display.
    /// </summary>
    [Parameter]
    public List<Project> Projects { get; set; } = new();

}