<div class="mb-2 flex flex-col gap-2 hover:cursor-pointer" @onclick="ToggleDetails">
    <p class="font-bold @Language.Language.GetColor()">@Language.Language.GetFormattedString()</p>
    <div class="w-full bg-gray-200 rounded-full h-2.5">
        <div class="@Language.Language.GetColor("bg") h-2.5 rounded-full" style="width: @Language.Proficiency%"></div>
    </div>
    @if (showDetails)
    {
        <p>@Language.Details</p>
    }
</div>

@code {

    /// <summary>
    /// The programming language.
    /// </summary>
    [Parameter]
    public PortfolioLanguage Language { get; set; } = null!;

    private bool showDetails = false;

    private void ToggleDetails() => showDetails = !showDetails;
}