<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="grid place-items-center h-screen">
                <div>
                    <h1 class="text-center text-9xl mb-12">
                        😬
                    </h1>
                    <p
                        role="alert"
                        class="text-neutral-50 text-center">
                        Awkward... I couldn't find the page you were looking for.
                    </p>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
